<div *ngIf="hero$ | async as hero" class="flex gap-10 justify-center items-center justify-items-center p-4 h-screen">
  <img [src]="hero.images.sm" [alt]="hero.name">
  <div>
    <div class="font-bold text-center border border-white p-2 mb-2">{{ hero.name }}</div>
    <ul class="list-disc list-inside">
      <li class="ml-6">Intelligence : {{ hero.powerstats.intelligence }}</li>
      <li class="ml-6">Force : {{ hero.powerstats.strength }}</li>
      <li class="ml-6">Vitesse : {{ hero.powerstats.speed }}</li>
      <li class="ml-6">Puissance : {{ hero.powerstats.power }}</li>
    </ul>
  </div>
</div>
